name: ci-go
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-go@v4
      with: { go-version: '1.22' }

    # --- 新增步骤：安装 libpcap ---
    - name: Install libpcap dependency
      run: |
        sudo apt-get update
        sudo apt-get install -y libpcap-dev
    # ----------------------------

    - run: go test ./...
    - run: go build -v ./...
